<div class="user-nav">

        {% if (app.user) %}
            <div class="user-logo">
                <img src="{{ asset('img/logo.svg') }}" alt="Bucket-List" title="user-logo"> {{ app.user.pseudo }} <img src="{{ asset('img/logo.svg') }}" alt="Bucket-List" title="user-logo">
            </div>

            {% if is_granted("ROLE_ADMIN") %}
                <div>
                    <a href="{{ path('admin_tableauDeBord') }}" title="Admin">Admin</a>
                </div>
                {% else %}
                <div>
                    <a href="#" title="Mon compte">Mon compte</a>
                </div>
            {% endif %}

            <div>
                <a href="{{ path('app_logout') }}" title="Déconnexion">Déconnexion</a>
            </div>

        {% else %}
            <div class="user-logo">
                <img src="{{ asset('img/logo.svg') }}" alt="Bucket-List" title="user-logo">
            </div>
            <div>
                <a href="{{ path('app_login') }}" title="Connexion">Connexion</a>
            </div>
            <div>
                <a href="{{ path('app_register') }}" title="Inscription">Inscription</a>
            </div>
        {% endif %}

</div>
