{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mon compte {% endblock %}

{% block body %}
    <h2>Mon compte</h2>

    {% if (app.user) %}
    <div>
        <table>
            <tr>
                <th style="width: 150px">Pseudo :</th>
                <td>{{ app.user.pseudo }}</td>
            </tr>
            <tr>
                <th style="width: 150px">Email :</th>
                <td>{{ app.user.email }}</td>
            </tr>
            <tr>
                <th style="width: 150px">Mot de passe :</th>
                <td>{{ app.user.password }}</td>
            </tr>
        </table><br><br>
        <h2>Ma bucket-list ({{ nbWish }})</h2>
        <table>
            {% for wish in wishes %}
                <tr>
                    <td style="width: 75px" >{{ wish.dateCreated | date('d-m-y') }}</td>
                    <td style="width: 150px">{{ wish.title }}</td>
                    <td>{{ wish.description }}</td>
                </tr>
            {% endfor %}

        </table>
        <p style="font-style: italic">... Ceci est une bucket-list test : celle dont l'auteur est 'Moi'...</p>
    </div>
    {% endif %}

{% endblock %}
